
html, body {

}

/*Main Wrapper*/
body {
  padding          : 20px 40px 40px 40px;
  background-color : #00a0ff;
}

.wrapper {
  background-color : #fff;
}

/*Navs*/
nav ul {
  padding    : 0;
  list-style : none;
}

/*Main Nav*/
.main-nav {
  float            : left;

  height           : auto;
  width            : 100px;
  padding          : 0;

  background-color : #404040;
  border-right     : 2px solid #1a1a1a;
}

.main-nav ul {
}

.main-nav ul li {
  font-weight : bold;
  text-align  : center;
}

.main-nav ul li a {
  display    : block;

  min-height : 100px;
  padding    : 20px 0;

  font-size  : 60%;
  color      : #999;
}

.main-nav ul li a:hover {
  background-color : #f06d06;
  color            : #fff;
  text-decoration  : none;
}

/*Slide Navs*/
.slide-nav {
  position         : relative;
  float            : left;

  height           : 600px;
  width            : 0;
  margin-left      : 0;

  background-color : #2b2b2b;
}

.slide-nav h2 {
  position         : relative;
  display          : inline-block;

  height           : 0;
  width            : 210px;
  margin-top       : 40px;
  margin-left      : 20px;
  padding          : 8px 12px;

  opacity          : 0;
  background-color : #1a1a1a;
  font-size        : 90%;
  font-weight      : bold;
  color            : #fff;
  border-radius    : 6px;
}

.slide-nav ul {
  width       : 0;
  margin-left : 35px;

  opacity     : 0;
  color       : #8a8a8a;
}

.workout {
}

.daily-to-do {
  display : none;
}

/* Workout Panels */
.movement-tile {
  height           : 190px;
  background-color : #f1faff;
}

.movement-tile h3 {
  font-size      : 80%;
  font-weight    : bold;
  text-transform : uppercase;
}