
html, body {
}

/* Main Styles */
body {
  padding          : 20px 40px 40px 40px;
  background-color : #00a0ff;
}

.wrapper {
  position         : relative;

  overflow         : hidden;
  width            : 100%;
  padding          : 0;

  background-color : #fff;
  min-height: 600px;
}

.content-wrapper {
  margin-top : 270px;
}

/* Navs */
nav ul {
  padding    : 0;
  list-style : none;
}

/* Main Nav */
.main-nav {
  position         : absolute;
  top              : 0;
  left             : 0;

  height           : 100px;
  width            : 100%;
  padding          : 0;

  background-color : #404040;
  border-right     : 2px solid #1a1a1a;
}

.main-nav ul {
}

.main-nav ul li {
  font-weight : bold;
  text-align  : center;
}

.main-nav ul li a {
  display    : inline-block;
  float      : left;

  min-height : 100px;
  width      : 100px;
  padding    : 20px 0;

  font-size  : 60%;
  color      : #999;
}

.main-nav ul li a:hover {
  background-color : #f06d06;
  color            : #fff;
  text-decoration  : none;
}

/* Slide Nav */
.slide-nav {
  position         : absolute;
  top              : 100px;

  opacity          : 0;
  background-color : #2b2b2b;
}

.slide-nav-horiz {
  top     : 100px;

  height  : 250px;
  width   : 100%;

  opacity : 1;
}

.slide-nav-vert {
  top     : 0;

  height  : 100%;
  width   : 250px;

  opacity : 1;
}

.slide-nav h2 {
  position         : relative;
  display          : inline-block;

  width            : 210px;
  margin-top       : 40px;
  margin-left      : 20px;
  padding          : 8px 12px;

  opacity          : 0;
  background-color : #1a1a1a;
  font-size        : 90%;
  font-weight      : bold;
  color            : #fff;
  border-radius    : 6px;
}

.slide-nav ul {
  margin-left : 35px;

  opacity     : 0;
  color       : #8a8a8a;
}

.show-text {
  opacity : 1 !important;
}

/* Workout Panel */
.workout {
}

.movement-tile {
  height           : 190px;
  padding-top      : 40px;

  opacity          : 0;
  background-color : #f1faff;
  border           : 1px dotted yellow;
}

.movement-tile h3 {
  font-size      : 80%;
  font-weight    : bold;
  text-transform : uppercase;
}

/* Daily To Do Panel */
.daily-to-do {
}

/* Control Panel */
.control-panel {
  height : 80px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    padding : 0 0 0 100px;
  }

  .main-nav {
    height  : 100%;
    width   : 100px;
    padding : 0;
  }

  .main-nav ul {
  }

  .main-nav ul li {
  }

  .main-nav ul li a {
    display : block;
    float   : none;

    width   : auto;
  }

  .main-nav ul li a:hover {
    background-color : #f06d06;
    color            : #fff;
    text-decoration  : none;
  }

  .slide-nav {
    top    : 0;

    height : 100%;
    width  : 250px;
  }

  .content-wrapper {
    margin-top : 0;
    margin-left: 250px;
  }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }